<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Mapper.GameScoreMapper">

    <select id="selectAllByIds" resultType="com.example.POJO.GameScore">
        SELECT * FROM game_score
        WHERE is_deletd = 0 AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectTopScore" resultType="com.example.POJO.GameScore">
        SELECT gamer_name,gamer_score FROM game_score
        ORDER BY gamer_score DESC
        LIMIT #{limit}
    </select>
</mapper>
