body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: black;
    background-color: rgba(0, 255, 0, 0.1);
}
.Card{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
    gap: 8px;

}